/*COPY ALL CODE BELOW*/

html {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: #8B0A06;
    height: 100px;
    width: 100%;
}

#title {
    font-family: 'oswald';
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.clearfix:after {
    display: block;
    clear: both;
}

.menu-bar {
    background: #8B0A06;
    display: block;
    text-align: center;
    height: 47px;
    margin: 0;
}


/*----- Menu Outline -----*/

.menu-wrap {
    margin-top: -16px;
    width: 100%;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);*/
}

.menu {
    margin: 0px auto;
}

.menu li {
    margin: 0px;
    list-style: none;
    font-family: 'oswald';
}

.menu a {
    transition: all linear 0.15s;
    color: #ffffff;
}

.menu li:hover > a,
.menu .current-item > a {
    text-decoration: none;
    color: #ffffff;
}

.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}


/*----- Top Level -----*/

.menu > ul > li {
    display: inline-block;
    position: relative;
    font-size: 17px;
}

.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
    background: #6C0E0B;
}


/*----- Bottom Level -----*/

.menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1;
}

.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #6C0E0B;
}

.sub-menu li {
    display: block;
    font-size: 16px;
    text-decoration: none;
}

.sub-menu li a {
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
    background: #8D0A06;
}


/*COPY ALL CODE ABOVE*/
* {
    /* With these codes padding and border does not increase it's width and gives intuitive style.*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'oswald', serif;
}

#envelope {
    width: 50%;
    margin: 10px 30% 10px 25%;
    padding: 10px 0;
    border: 2px solid #D8D8D8;
    border-radius: 10px;
}

form {
    width: 70%;
    margin: 4% 15%;
}

header {
    background-color: #8B0A06;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: -11px;
    margin-bottom: 0px;
    border-radius: 10px 10px 0 0;
    color: white ;
}

header p {
    margin-right: 15px;
    margin-left: 15px;
}


/* Makes responsive fields. Sets size and field alignment.*/

input[type=text] {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #8B0A06;
}

input[type=submit] {
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #8B0A06;
    background-color: #8B0A06;
    color: aliceblue;
    font-family:inherit;
    font-size: 15px;
    cursor: pointer;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.59);
}

textarea {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #8B0A06;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
}

input[type=text]:focus,
textarea:focus {
    border-color: #8B0A06;
}

#map {
    width: 50%;
    margin: 10px 2% 10px 25%;
    padding: 10px 0;
    border: 2px solid #D8D8D8;
    border-radius: 10px;
}
.map-section {
    padding-bottom: 10px
}


/*COPY THIS CODE BELOW*/
/*Footer Begins Here*/
.copy {
    background-color: #8B0A06;
    height: 150px;
    padding: 10px;
    margin: 0;
}

#copyright {
    font-family: 'oswald';
    color: #ffffff;
    text-align: center;
    margin: 0;
}

#design {
    font-family: 'oswald';
    color: #ffffff;
    text-align: center;
}


/*Footer Ends Here*/

i {
    color: white;
}

ul {
    list-style: none;
    text-align: center;
    margin-left: -40px;
}

li {
    display: inline-block;
    margin-left: 5px;
}


/*COPY THIS CODE*/